* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    text-shadow: 1px 1px 2px #474747;
    font-family: Arial, Helvetica, sans-serif;
}

#author {
    text-transform: capitalize;
}

main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}

.leftSection {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Middle Section  */
.middleSection {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
#time {
    font-size: 3rem;
}

.rightSection {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.crypto-container {
    display: flex;
    flex-direction: column;
}


.card {
    width: 100%;
    text-align: center;
    background-color: #47474766;
    padding: 1em;
    margin-bottom: .25em;
    border-radius: 5px;
}

.crypto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#coin-ico {
    margin-right: 1em;
    height: 40px;
    width: 40px;
}

#coin-name {
    white-space: nowrap;
}

.crypto-info {
    margin-bottom: 1em;
}
.crypto-info > p {
    margin: 0.01em;
    font-size: smaller;
    text-align: left;
}

/* weather */

.weather {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.weather > p {
    margin: 0;
}

.weather-card-top {
    display: flex;
    align-items: center;
    justify-content: end;
}

#weather-city {
    position: absolute;
    bottom: 0;
    text-align: right;
    font-size: 1.5rem;
    width: 100%;
}

#temp {
    font-size: 3rem;
    margin: 0;
}

